<!--


    Secciones de configuración:
    - system.webServer: Contiene configuraciones relacionadas con el servidor web.

    Elementos de configuración:
    - directoryBrowse: Especifica si la navegación de directorios está habilitada o deshabilitada.
    - rewrite: Especifica reglas de reescritura de URL.
    - defaultDocument: Especifica los documentos predeterminados que se servirán cuando se solicite un directorio.

    Reglas de reescritura:
    - HTTP api: Reescribe las URL que coinciden con el patrón "^(.*/)?api/(.*)$" a "{R:1}api/http.php/{R:2}".
    - Site pages: Reescribe las URL que coinciden con el patrón "^(.*/)?pages/(.*)$" a "{R:1}pages/index.php/{R:2}".
    - Staff applications: Reescribe las URL que coinciden con el patrón "^(.*/)?scp/apps/(.*)$" a "{R:1}scp/apps/dispatcher.php/{R:2}".

    Documentos predeterminados:
    - index.php: Especifica el documento predeterminado que se servirá cuando se solicite un directorio.

-->
<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <rule name="HTTP api" stopProcessing="true">
                    <match url="^(.*/)?api/(.*)$" ignoreCase="true"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile"
                            ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory"
                            ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}api/http.php/{R:2}"/>
                </rule>
                <rule name="Site pages" stopProcessing="true">
                    <match url="^(.*/)?pages/(.*)$" ignoreCase="true"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile"
                            ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory"
                            ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}pages/index.php/{R:2}"/>
                </rule>
                <rule name="Staff applications" stopProcessing="true">
                    <match url="^(.*/)?scp/apps/(.*)$" ignoreCase="true"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile"
                            ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory"
                            ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}scp/apps/dispatcher.php/{R:2}"/>
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="index.php" />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
